# Dependencies
node_modules

# Turborepo
.turbo

# Build output
.svelte-kit
.wrangler
.output
.vercel
.netlify
build
dist

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
.dev.vars
.dev.vars.*
!.env.example
!.env.test
!.dev.vars.example

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# traces for local dev
Trace-*.json
